<! DOCTYPE HTML>
<html ng-app="checklistApp">
	<head>
    <meta charset="UTF-8">
    <title>College Checklist</title>
    <link href="css/main.css" rel="stylesheet" type="text/css" />
    <link href="css/font-awesome.min.css" rel="stylesheet">
    <link href="css/semantic-ui/elements/button.css" rel="stylesheet">
    <script src="js/angular.min.js" type="text/javascript"></script>
    <script src="js/angular-local-storage.js" type="text/javascript"></script>
    <script src="js/checklist-controller.js" type="text/javascript"></script>
	</head>

  <body ng-controller="ChecklistController as ctrl">
    <a href="https://github.com/clado/checkable-checklist"><img style="position: absolute; top: 0; left: 0; border: 0;" src="https://camo.githubusercontent.com/567c3a48d796e2fc06ea80409cc9dd82bf714434/68747470733a2f2f73332e616d617a6f6e6177732e636f6d2f6769746875622f726962626f6e732f666f726b6d655f6c6566745f6461726b626c75655f3132313632312e706e67" alt="Fork me on GitHub" data-canonical-src="https://s3.amazonaws.com/github/ribbons/forkme_left_darkblue_121621.png"></a>
    <div class="fixed">
      <button class="teal tiny ui button" ng-click="ctrl.reset()">reset</button>
    </div>
    <h1>College Packing Checklist</h1>
    <article>
      <section ng-repeat="(section, items) in ctrl.list">
        <h2>{{section}}</h2>
        <div ng-repeat="(item, checked) in items">
          <span class="check" ng-click="ctrl.check(section, item)">
            <i name="$index" class="fa fa-check-square-o done" ng-show="checked"></i>
            <i name="$index" class="fa fa-square-o" ng-hide="checked"></i>
          </span>
          <label for="$index">{{item}}</label>
        </div>
      </section>
    </article>

  </body>
</html>
